<html>
    <head>
      <title> Karu19 blog</title>
  </head>
  <body>
    <div>
      <h1><a href="">Karu19 Blog</a></h1>
    </div>

           <div>
               <p>published: 14.06.2014, 12:14</p>
               <h2><a href="">Mi primer post!</a></h2>
               <p>Holaaaa!!!</p>
           </div>

           <div>
               <p>published: 14.06.2014, 12:14</p>
               <h2><a href="">Mi segundo post! ^_^</a></h2>
               <p>Muchas gracias "profe" :D</p>
             </div>
  </body>
</html>
